<div class="flex-container bg-secondary" *ngIf="raceData" (click)="onClick($event)">
  <h1 class = "text-light" *ngIf="raceData" (click)="incrementRound()">
    {{ raceData.raceName }}
  </h1>
  <!-- <app-timetable class = "bg-dark text-light p-3 rounded" (click)="decrementRound()" [raceTime]="raceTime" [nextSessionTime]="nextSessionTime"></app-timetable> -->
  <!-- <app-flag class = "p-3" [countryCode]="countryCode"></app-flag> -->


  <div ngbAccordion class="flex-container" #acc="ngbAccordion" [closeOthers]="true" [animation]="false">
    <div ngbAccordionItem class = "bg-secondary text-light" ngbAccordionToggle>
      <app-flag [countryCode]="countryCode"></app-flag>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            Facts about country here
            <br>
            More Country info and Records
          </ng-template>
        </div>
      </div>
    </div> 
    <div ngbAccordionItem class = "bg-dark text-light p-3 rounded" ngbAccordionToggle (shown)="addSessionTimes()" (hidden)="removeSessionTimes()">
      <app-timetable [raceTime]="raceTime" [nextSessionTime]="nextSessionTime" [sessionTimes]="sessionTimes"></app-timetable>
      <div ngbAccordionCollapse>
      </div>
    </div> 
    <div ngbAccordionItem class = "bg-secondary text-light" ngbAccordionToggle>
      <my-map [raceData]="raceData" (countryCode)="setCountryCode($event)"></my-map>
      <div ngbAccordionCollapse>
        <div ngbAccordionBody>
          <ng-template>
            Facts about circuit here
            <br>
            More Circuit info and Records
          </ng-template>
        </div>
      </div>
    </div> 
  </div>
</div>
